<h1><%= @student.name %>'s Display</h1>

<%= render partial: 'messenger' %>

<div>
  Student Name: <%= @student.name %> <br />
  Student Number: <%= @student.student_id %>
</div>

<ul>
  <li><p><%= link_to 'View All Students', students_path %></p></li>
  <li><p><%= link_to 'Edit Student', edit_student_path %></p></li>
  <li><p><%= link_to 'Delete Student', [@student], method: :delete, data: { confirm: 'Remove Student?' } %></p></li> 
</ul>

<br id="bottom-spacer">
