<div class="form-div">
  <%= form_for(@instructor) do |f| %>
    <%= f.label 'Name' %>
    <%= f.text_field :name, class: 'form-field', required: true %>
    
    <%= f.label "Certified Flight Instructor Number" %>
    <%= f.number_field :cfi, class: 'form-field', min: 1, required: true %>

    <%= f.submit 'Create Instructor', class: 'form-submit text-field' %>
  <% end %>
</div>