<h1><%= @instructor.name %>'s Dashboard</h1>

<%= render partial: 'messenger' %>

<div>
  Registered Name: <span id="registeredName"><%= @instructor.name %></span><br />
  CFI Number: <%= @instructor.cfi %>
</div>

<p><%= link_to 'Add Lesson', new_lesson_path %></p>
<p><%= link_to 'Register Student', new_student_path %></p>
<p><%= link_to 'Create Report', new_instructor_report_path(@instructor) %></p>


<div id="jsDiv">
  <p>Listing of Lessons</p>
  <!-- for ajax returns -->
</div>

<br id="bottom-spacer">
