<h1><%= @instructor.name %>'s Display</h1>

<% if flash[:notice] %>
  <p class='important'><%= flash[:notice] %></p>
<% else %>
  <p class='important'>If this is not you, please log out.</p>
<% end %>

<div>
  Registered Name: <%= @instructor.name %>
  <br>
  CFI Number: <%= @instructor.cfi %>
</div>

<p><%= link_to 'Add Lesson', new_lesson_path %></p>
<p><%= link_to 'Register Student', new_student_path %></p>

<br id="bottom-spacer">

