<% if logged_in? %>
  <p><%= link_to 'View Profile', instructor_path(current_user) %></p>
  <p><%= link_to 'Edit Profile', edit_instructor_path(current_user) %></p>
  <p><%= link_to 'Unregister/Delete Profile', current_user, method: :delete, data: {confirm: "Unregister?"} %></p>
  <br id="bottom-spacer"> 
<% else %>
  <p><%= link_to 'Log In', '/login' %></p>
  <p><%= link_to 'Register', new_instructor_path %></p>
<% end %> 