<div class="form-div">
  <%= form_for(lesson) do |f| %>
    
    <%= f.label 'Student ID' %>
    <%= collection_select(:lesson, :student_id, @students, :id, :name, prompt: true) %>
    
    <%= f.label 'Select Instructor' %> 
    <%= collection_select(:lesson, :instructor_id, @instructors, :id, :name, prompt: true) %>

    <%= f.label 'Lesson Description' %>
    <%= f.text_area :description, class: 'form-field' %>
    
    <span style="color: #ccc">Appointment Example: 12 December 2018 21:30 Zulu</span>
    <p>Current App Time: <%= lesson.lesson_datetime.strftime('%e %B %Y %H:%M') %></p>
    <%= f.label 'Lesson Time' %>
    <%= f.datetime_field :lesson_datetime, ampm: true %> 
    
    <%= f.submit submit_name, class: 'form-submit text-field' %>
  <% end %>
</div>