<div class="form-div">
  <%= form_for(lesson) do |f| %>
    
    <%= f.label 'Student ID' %>
    <%= collection_select(:lesson, :student_id, @students, :id, :name, prompt: true) %>
    
    <%= f.label 'Select Instructor' %> 
    <%= collection_select(:lesson, :instructor_id, @instructors, :id, :name, prompt: true) %>

    <%= f.label 'Lesson Description' %>
    <%= f.text_area :description, class: 'form-field' %>
    
    <p>Time Format: 2018-12-30 25:30 Zulu</p>

    <%= f.label 'Lesson Time' %>
    <%= f.datetime_field :lesson_datetime, ampm: true %> 
    
    <%= f.submit submit_name, class: 'form-submit text-field' %>
  <% end %>
</div>