<h1>Edit lesson</h1>

<div class="form-div">
  <%= form_for(@lesson) do |f| %>
    
    <%= f.label 'Student ID' %>
    <%= collection_select(:lesson, :student_id, @students, :id, :name, prompt: true) %>
    
    <%= f.label 'Select Instructor' %> 
    <%= collection_select(:lesson, :instructor_id, @instructors, :id, :name, prompt: true) %>

    <%= f.label 'Lesson Description' %>
    <%= f.text_area :description, class: 'form-field' %>

    <%= f.submit 'Update Lesson', class: 'form-submit text-field' %>
  <% end %>
</div>