<h1>Lesson Display</h1>

<% if flash[:notice] %>
  <p class='important'><%= flash[:notice] %></p>
<% else %>
  <p class='important'>Reminder: update lesson description with a debrief after each lesson.</p>
<% end %>

<p>
  Student:<br> <%= @lesson.student.name %>
</p>
<p>
  Instructor:<br> <%= @lesson.instructor.name %>
</p>
<p>
  Lesson Description:<br> <%= @lesson.description %>
</p>

<p>
  Lesson Date and Time: <%= @lesson.lesson_datetime.strftime('%e %B %Y %H:%M') %>
</p>

<br class="bottom-spacer">