<h1>Lesson Display</h1>

<%= render partial: 'messenger' %>

<p id="lessonStudentName">Student:<br> <%= @lesson.student.name %></p>
<p id="lessonInstructorName">Instructor:<br> <%= @lesson.instructor.name %></p>
<p id="lessonDescription">Lesson Description:<br> <%= @lesson.description %></p>
<p id="lessonDatetime">Lesson Date and Time:<br> <%= @lesson.lesson_datetime.strftime('%e %B %Y %H:%M') %></p>

<% if @lesson.next %>
  <a href="<%=@lesson.next.id%>.json" id="nextLesson" class="form-field">Next Lesson</a>
<% else %>
  <button class="form-field">End of List</button>
<% end %>
<% if @lesson.previous %>
  <!-- <%= link_to "< Previous", @lesson.previous, {id: "previousLesson", class: "form-field"} %> -->
  <a href="<%=@lesson.previous.id%>.json" id="previousLesson" class="form-field">Previous Lesson</a>
<% else %>
  <button class="form-field">First of List</button>
<% end %>

<br class="bottom-spacer">
