<h1>Lesson Display</h1>

<%= render partial: 'messenger' %>

<p id="lessonStudentName">Student:<br> <%= @lesson.student.name %></p>
<p id="lessonInstructorName">Instructor:<br> <%= @lesson.instructor.name %></p>
<p id="lessonDescription">Lesson Description:<br> <%= @lesson.description %></p>
<p id="lessonDatetime">Lesson Date and Time:<br> <%= @lesson.lesson_datetime.strftime('%e %B %Y %H:%M') %></p>

<!-- <%= link_to "Lesson", lesson_path, {id: "nextLesson", class: "form-field"} %> -->
<% if @lesson.previous %>
   <%= link_to "< Previous", @lesson.previous, {id: "previousLesson", class: "form-field"} %>
<% end %>
<% if @lesson.next %>
  <%= link_to "Next >", @lesson.next, {id: "nextLesson", class: "form-field"} %>
<% end %>

<br class="bottom-spacer">
