<h1>Lesson Display</h1>

<%= render partial: 'messenger' %>

<p>Student:<br><span id="lessonStudentName"><%= @lesson.student.name %></span></p>
<p>Instructor:<br><span id="lessonInstructorName"><%= @lesson.instructor.name %></span></p>
<p>Lesson Description:<br><span id="lessonDescription"><%= @lesson.description %></span></p>
<p>Lesson Date and Time:<br><span id="lessonDatetime"><%= @lesson.lesson_datetime.strftime('%e %B %Y %H:%M') %></span></p>

<div id="navLinks">
  <% if @lesson.next %>
    <a href="<%=@lesson.next.id%>.json" id="nextLesson" class="form-field">Next Lesson</a>
  <% else %>
    <a id="nextLesson" class="form-field">End</a>
  <% end %>
  <% if @lesson.previous %>
    <a href="<%=@lesson.previous.id%>.json" id="previousLesson" class="form-field">Previous Lesson</a>
  <% else %>
    <a id="previousLesson" class="form-field">End</a>
  <% end %>
</div>

<br class="bottom-spacer">
