<h1>Report Index</h1>
<p class="important">Order by filter selection</p>

<%= form_tag("/reports", method: "get", id: "filter-form") do %>
    <%= label_tag 'Filter Reports' %>
    <%= select_tag "hour_type", options_for_select(["Flight", "Ground"]), include_blank: true %>
    <%= submit_tag "Filter" %>
<% end %>

<% @reports.most_flight_hours.each do |report| %>
  <ul>
    <li>Title: <%= report.title %></li>
    <li>Instructor: <%= report.instructor.name %></li>
    <li>Flight Hours: <%= report.flight_hours %></li>
    <li>Ground Hours: <%= report.ground_hours %></li>
    <li><p><%= link_to 'View/Edit Report', instructor_report_path(report.instructor, report) %></p></li>
  </ul>
<% end %>

<br id="bottom-spacer">