<h1>Report Index</h1>

<% @reports.each do |report| %>
  <ul>
    <li>Title: <%= report.title %></li>
    <li>Instructor: <%= report.instructor.name %></li>
    <li>Flight Hours: <%= report.flight_hours %></li>
    <li>Ground Hours: <%= report.ground_hours %></li>
    <li><%= link_to 'View/Edit Report', instructor_report_path(report.instructor, report) %></li>
  </ul>
<% end %>
<br id="bottom-spacer">