<!DOCTYPE html>
<html>
  <head>
    <title>FlightLessonTracker</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <a id="top"></a>
    <header>
      <nav>
        <ul>
          <li><%= link_to 'Flight Lesson Tracker', root_url %></li><li>
          <%= link_to 'Instructor List', instructors_path %></li><li>
          <%= link_to 'Lessons', lessons_path %></li><li>
          <% if logged_in? %>
            <%= link_to "Log Out", '/logout', method: "delete" %></li>
          <% end %>
        </ul>  
    </header>
    <div class="wrapper">
    
      <%= yield %>
      
    </div>
  </body>
</html>
